body {
    background-image: url("../images/space_bg.gif");
    color: orange;
    cursor: url("../images/pointer_small.png"), url("../images/pointer_small.png"), default;
}

.header-container {
    grid-area: header;
    border-width: 2px;
    border-style: ridge;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(17, 3, 68);
    background: linear-gradient(180deg, rgb(17, 3, 68) 41%, rgb(0, 0, 0) 100%);
}

.main-container {
    grid-area: main;
}

.sidebar-container {
    grid-area: sidebar;
    overflow-y: scroll;
    display: grid;
    grid-template-rows: 50px;
}

.footer-container {
    grid-area: footer;
    border-width: 2px 0px 0px 0px;
    border-style: ridge;
    color: white;
    text-align: center;
    
}

.base-container {
    color: greenyellow;
    display: grid;
    grid-template-columns: 25fr 25fr 25fr 25fr;
    grid-template-rows: 150px auto 20px;
    grid-template-areas: 
    "header header header header" 
    "sidebar main main main" 
    "footer footer footer footer";
    height: 100vh;
}

.sidebar-container {
    display: grid;
    grid-template-rows: 35px 35px 35px 35px 35px 50px;
    row-gap: 10px;
    padding: 5px;
}

.nav {
    background: rgb(140, 0, 153);
    background: linear-gradient(90deg, rgba(140, 0, 153, 1) 41%, rgba(76, 119, 30, 1) 100%);
    border-width: 2px;
    border-style: ridge;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: blue;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 50px;
    font-weight: bold;
}

.welcome-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.home-content {
    color: greenyellow;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

code {
    color:white;
}

figcaption {
    color: yellow;
    font-style: italic;
    padding: 2px;
    text-align: center;
    font-size: 12px;
  }