<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔥Dann's Fab Academy Docs🔥</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{{.Site.BaseURL}}/js/cursor.js"></script>

</head>

<body>
    <div class="base-container">
        <div class="header-container">
            <a href="{{.Site.BaseURL}}">

                <img src="{{.Site.BaseURL}}images/flame.gif" style="height: 150px;"/>
                <img src="{{.Site.BaseURL}}images/flame.gif" style="height: 150px;"/>
                <img src="{{.Site.BaseURL}}images/wordart.png" style="height: 150px;"/>
                <img src="{{.Site.BaseURL}}images/flame.gif" style="height: 150px;"/>
                <img src="{{.Site.BaseURL}}images/flame.gif" style="height: 150px;"/>
            </a>
        </div>
        <div class="sidebar-container">
            {{ partial "nav-item" (dict "context" . "text" "Home" "href" "home" )}}
            {{ partial "nav-item" (dict "context" . "text" "About" "href" "about" )}}
            {{ partial "nav-item" (dict "context" . "text" "Assignments" "href" "assignments" )}}
            {{ partial "nav-item" (dict "context" . "text" "Final Project" "href" "final" )}}
            {{ partial "nav-item" (dict "context" . "text" "Other Links" "href" "links" )}}
            <img src="{{.Site.BaseURL}}images/Dragon_mini_anim.gif" style="height: 100px;">
            <img src="{{.Site.BaseURL}}images/construction_sidebar.gif" style="height: 50px;">
                <div class="counter">
                    <a href="https://www.hitwebcounter.com" target="_blank">
                        <img src="https://hitwebcounter.com/counter/counter.php?page=7744662&style=0025&nbdigits=5&type=page&initCount=0" title="Free Counter" Alt="web counter" border="0" /></a>
                </div>
        </div>
        <div class="main-container">
             {{ block "main" . }}
            <!-- The part of the page that begins to differ between templates -->
            {{ end }} 
        </div>
        <div class="footer-container">
            © Dann Mensah 2004
            <img src="Notfound.lol"/>
            <span style="color: green">Site is under construction</span>
        </div>
    </div>
    
    
    <audio controls loop autoplay id="bgmusic" style="display: none;">
        <source src="{{.Site.BaseURL}}audio/pokemon.mp3" type="audio/mpeg">
    </audio>
    <script>
    var audio = document.getElementById("bgmusic");
    audio.volume = 0.01;
    </script>
</body>

</html> 