
{{ define "main" }}
    {{.Content}}
    <ul>
        {{range .Pages}}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a></br>
        </li>
        {{end}}
    </ul>
    
    {{ range last 1 .Pages }}
        <h1>Newest Version ({{.Title}}) </h1>
        {{ .Content }}
    {{ end }}
{{ end }}