{{ define "main" }}
    <div class="home-container">
        <img class="welcome-img" src="{{.Site.BaseURL}}images/welcome.gif">
        <br/>
        <div class="home-content">
            {{.Content}}
        </div>
        <sub>The site is under construction btw</sub>
        <br/>
        <img src="{{.Site.BaseURL}}images/crane.png" style="width: 100px;">
        <img src="{{.Site.BaseURL}}images/under_construction.png" style="width: 100px;">
    </div>
    
{{ end }}