<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🔥Dann's Fab Academy Docs🔥</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}/css/index.css">
    <script src="{{.Site.BaseURL}}/js/cursor.js"></script>
</head>
<body>
    <div class="landing">
        <img src="{{.Site.BaseURL}}/images/door.jpg"/>
        <a href="{{.Site.BaseURL}}home">
            Enter
        </a>
    </div>   
</body>
</html>

