
<figure style="text-align: center;">
    <video width="1000" autoplay loop>
        <source src={{.Site.BaseURL}}{{.Get "src"}} type="video/mp4">
      </video>
        <figcaption>{{.Get "text"}}</figcaption>
  </figure>